
// HEADER 

#header 
  padding: $margin-small $margin-small 0
  
// ******************************************************

// HOME 

.home-video
  width: 40vw
    
// ******************************************************

.home-video
  pointer-events: none