$header-height = 61px
$footer-height = 61px

// BASIC

.main-content-padding 
  padding-top: $header-height + $margin-basic 
  padding-bottom: $footer-height + $margin-basic

// ******************************************************

// HEADER 

#header 
  padding: $margin-small $margin-small 0
  
// ******************************************************

