$header-height = 60px
$footer-height = 60px

// ******************************************************

// BASIC

.main-content-padding
  padding-top: $header-height
  padding-bottom: $footer-height

.min-height-content
  min-height: calc('100vh - ' + ($header-height * 2))

// ******************************************************

// FORMS

input, select, button, .button, textarea, input[type='checkbox'], input[type=radio]
  padding: $margin-micro

// ******************************************************

// HEADER

#header
  padding: $margin-tiny $margin-small 0

// ******************************************************

// FOOTER

#footer
  padding: 0 $margin-small $margin-tiny

.footer-cart
  margin-left: $margin-tiny

// ******************************************************

// HOME

.home-video
  width: 40vw
  pointer-events: none

// ******************************************************

// SINGLE PRODUCT

.single-product-image
  max-height: calc('100vh - ' + ($header-height + $footer-height))

.variations_form
  .variations
    td
      padding-bottom: $margin-small
  td.label
    padding-right: $margin-small

.amount
  margin-bottom: $margin-small

.quantity
  margin-bottom: $margin-small

.slider-next
  svg
    height: 39px

// ******************************************************

// CART

.cart-remove-item
  left: $margin-tiny

.quantity
  input
    margin-top: -($margin-tiny)

.button-shop
  padding: $margin-micro

// ******************************************************

// CHECKOUT

.form-row
  margin-bottom: $margin-small
  label
    margin-bottom: $margin-micro
  input, select, textarea
    font-size: $font-size-medium
