$header-height = 44px
$footer-height = 35px

// BASIC

.main-content-padding
  padding-top: $header-height
  padding-bottom: $footer-height
  
.min-height-content 
  min-height: calc('100vh - ' + ($header-height * 2))

// ******************************************************

// HEADER

#header
  padding: $margin-tiny $margin-small 0

// ******************************************************

// FOOTER

#footer
  padding: 0 $margin-small $margin-tiny

.footer-cart
  margin-left: $margin-tiny
  img
    height: 16px

// HOME

.home-video
  width: 60vw

// ******************************************************

// SINGLE COLLECTION

body.single-collection
  width: 100%
  height: 100%
  overflow-x: hidden

.single-collection-background
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-size: cover
  background-position: center
  z-index: -100

.single-collection-title
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  pointer-events: none
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  h1
    margin: 0

.single-collection-row
  justify-content: center

.single-collection-item
  flex: 0 1 auto
  max-height: 100%
  width: auto
  padding: 20vh 0 10vh

// ******************************************************

// ARCHIVE COLLECTION

.archive-collection-item
  text-align: center

// ******************************************************

// SINGLE PRODUCT

.single-product-image
  width: auto
  max-height: calc('100vh - ' + ($header-height + $footer-height))

// ******************************************************