$header-height = 44px
$footer-height = 38px

// BASIC

.main-content-padding
  padding-top: $header-height
  padding-bottom: ($footer-height + $margin-basic)

.min-height-content
  min-height: calc('100vh - ' + ($header-height * 2))

// ******************************************************

// FORMS

input, select, button, .button, textarea, input[type="checkbox"], input[type=radio]
  padding: $margin-micro

// ******************************************************

// HEADER

#header
  padding: $margin-tiny $margin-small 0

// ******************************************************

// FOOTER

#footer
  padding: 0 $margin-small $margin-tiny

.footer-cart
  margin-left: $margin-tiny
  img
    height: 16px

// HOME

.home-video
  width: 60vw

// ******************************************************

// SINGLE COLLECTION

body.single-collection
  width: 100%
  height: 100%
  overflow-x: hidden

.single-collection-background
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-size: cover
  background-position: center
  z-index: -100

.single-collection-title
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  pointer-events: none
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  h1
    margin: 0

.single-collection-row
  display: block
  text-align: center

.single-collection-item
  flex: 0 1 auto
  max-height: none
  width: 80%
  padding: 20vh 0 10vh

.single-collection-video
  width: 100vw
  height: calc('100vw * 9 / 16')

.single-collection-text
  width: 100%
  padding: $margin-basic $margin-basic $footer-height
  margin-top: 20vh
  flex: 1 1

// ******************************************************

// ARCHIVE COLLECTION

.archive-collection-item
  text-align: center

// ******************************************************

// SINGLE PRODUCT

.single-product-image
  width: auto
  max-height: 70vh

.variations_form
  .variations
    td
      padding-bottom: $margin-small
  td.label
    padding-right: $margin-small

.amount
  margin-bottom: $margin-small

.quantity
  margin-bottom: $margin-small

.slider-next
  svg
    height: 30px

// ******************************************************

// CART

.cart-remove-item
  left: $margin-tiny

.quantity
  input
    margin-top: -($margin-tiny)

.button-shop
  padding: $margin-micro

#coupon_code
  width: 40%

// ******************************************************

// CHECKOUT

.form-row
  margin-bottom: $margin-small
  label
    margin-bottom: $margin-micro
  input, select, textarea
    font-size: $font-size-medium
