$header-height = 80px
$footer-height = 80px

// BASIC

.main-content-padding
  padding-top: $header-height
  padding-bottom: $footer-height

// ******************************************************

// HEADER

#header
  padding: $margin-tiny $margin-small 0

// ******************************************************

// HOME

.home-video
  width: 50vw

// ******************************************************

// FOOTER

#footer
  padding: 0 $margin-small $margin-tiny

.footer-cart
  margin-left: $margin-tiny

// ******************************************************

// SINGLE COLLECTION

body.single-collection
  overflow-x: scroll

.single-collection-row
  position: absolute
  top: 0
  left: 0
  height: 100%
  justify-content: initial
  flex-wrap: nowrap

.single-collection-item
  height: 100%
  padding: 0 30vw 0 10vw
  
.single-collection-text
  padding: $header-height 10vw
  margin-top: 0
  display: flex 
  flex-direction: column
  align-items: center
  p 
    width: 400px

// ******************************************************

// ARCHIVE COLLECTION

.archive-collection-item
  text-align: left

// ******************************************************

// SINGLE PRODUCT

// ******************************************************