// HEADER 

#header 
  padding: $margin-small $margin-small 0

// ******************************************************

// HOME 

.home-video
  width: 50vw
  
// ******************************************************


// SINGLE COLLECTION

body.single-collection 
  overflow-x: scroll
  
.single-collection-row 
  position: absolute
  top: 0
  left: 0
  height: 100%
  justify-content: initial
  flex-wrap: nowrap 
  
.single-collection-item
  padding: 0 30vw 0 10vw
    
// ******************************************************

// ARCHIVE COLLECTION

.archive-collection-item
  text-align: left
