$header-height = 53.5px
$footer-height = 53px

// ******************************************************

// BASIC

.main-content-padding
  padding-top: $header-height
  padding-bottom: $footer-height

.min-height-content
  min-height: calc('100vh - ' + ($header-height * 2))

// ******************************************************

// FORMS

input, select, button, .button, textarea, input[type='checkbox'], input[type=radio]
  padding: $margin-micro

// ******************************************************

// HEADER

#header
  padding: $margin-tiny $margin-small 0

// ******************************************************

// HOME

.home-video
  width: 50vw

// ******************************************************

// FOOTER

#footer
  padding: 0 $margin-small $margin-tiny

.footer-cart
  margin-left: $margin-tiny

// ******************************************************

// SINGLE COLLECTION

body.single-collection
  overflow-x: scroll

.single-collection-row
  position: absolute
  top: 0
  left: 0
  height: 100%
  justify-content: initial
  display: flex
  flex-wrap: nowrap

.single-collection-item
  padding: 0 30vw 0 10vw
  min-height: 80vh
  max-height: 100%
  width: auto

.single-collection-video
  width: 80vw
  height: calc('80vw * 9 / 16')
  max-width: calc('80vh * 16 / 9')
  pointer-events: none
  max-height: 80vh

.single-collection-text
  padding: $header-height 10vw
  margin-top: 0
  display: flex
  flex-direction: column
  align-items: center
  p
    width: 400px

// ******************************************************

// ARCHIVE COLLECTION

.archive-collection-item
  text-align: left

// ******************************************************

// SINGLE PRODUCT

.variations_form
  .variations
    td
      padding-bottom: $margin-small
  td.label
    padding-right: $margin-small

.amount
  margin-bottom: $margin-small

.quantity
  margin-bottom: $margin-small

#product-gallery-container
  height: calc('100vh - ' + ($header-height + $footer-height))

.slider-next
  svg
    height: 34px

// ******************************************************

// CART

.cart-remove-item
  left: $margin-tiny

.quantity
  input
    margin-top: -($margin-tiny)

.button-shop
  padding: $margin-micro

#coupon_code
  width: auto

.woocommerce-shipping-calculator
  text-align: right

// ******************************************************

// CHECKOUT

.form-row
  margin-bottom: $margin-small
  label
    margin-bottom: $margin-micro
  input, select, textarea
    font-size: $font-size-medium
